{
    "singleQuote": true,
    "printWidth": 200,
    "semi": false,
    "useTabs": false,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "tabWidth": 4,
    "singleAttributePerLine": true
}
